@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 27 27 27;
    --foreground: 225 225 225;
    --muted: 115 115 115;
    --accent: 254 254 91;
    /* hex value of rgb(254,254,91) color is  #FEFE5B  */
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }

  .custom-bg {
    @apply bg-background/20 border border-orange-500/30 border-dashed backdrop-blur-[1px] shadow-glass-inset hover:shadow-glass-sm;
  }
}

/* Custom scrollbar for BlogModal content */
.blog-modal-content::-webkit-scrollbar {
  width: 4px; /* Adjust scrollbar width */
}

.blog-modal-content::-webkit-scrollbar-track {
  background: transparent;
}

.blog-modal-content::-webkit-scrollbar-thumb {
  background-color: rgb(185, 154, 96); /* Color of the scroll thumb */
  border-radius: 40px; /* Roundness of the scroll thumb */
  border: 2px solid transparent; /* Creates padding around thumb */
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, 100px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes drop-animation {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}
